#CS-430 - Assignment 2 - Exploratory Data Analysis and Regression on Air Quality Data

### Gracie Bayer

**Preprocessing**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
dataset=pd.read_csv("/PRSA_Data_Aotizhongxin_20130301-20170228.csv")

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34139 non-null  float64
 6   PM10     34346 non-null  float64
 7   SO2      34129 non-null  float64
 8   NO2      34041 non-null  float64
 9   CO       33288 non-null  float64
 10  O3       33345 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [9]:
dataset.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin

In [28]:
dataset.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.773611,110.060391,17.375901,59.305833,1262.945145,56.353358,13.584607,1011.846920,3.123062,0.067421,1.708496
std,10122.249256,1.177213,3.448752,8.800218,6.922285,81.045038,94.243001,22.516658,36.570739,1190.100376,56.478782,11.395845,10.401079,13.684991,0.909796,1.203831
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,23.000000,39.000000,3.000000,31.000000,500.000000,9.000000,3.100000,1003.300000,-8.100000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,61.000000,89.000000,9.000000,55.000000,900.000000,46.000000,14.500000,1011.400000,3.800000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,112.000000,153.000000,21.000000,81.000000,1500.000000,80.000000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,898.000000,984.000000,341.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

In [10]:
dataset.isnull().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       925
PM10        718
SO2         935
NO2        1023
CO         1776
O3         1719
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

In [11]:
dataset['PM2.5']=dataset['PM2.5'].fillna(dataset['PM2.5'].mean())

In [12]:
dataset['PM10']=dataset['PM10'].fillna(dataset['PM10'].mean())

In [13]:
dataset['SO2']=dataset['SO2'].fillna(dataset['SO2'].mean())

In [14]:
dataset['NO2']=dataset['NO2'].fillna(dataset['NO2'].mean())

In [15]:
dataset['CO']=dataset['CO'].fillna(dataset['CO'].mean())

In [16]:
dataset['O3']=dataset['O3'].fillna(dataset['O3'].mean())

In [17]:
dataset['TEMP']=dataset['TEMP'].fillna(dataset['TEMP'].mean())

In [18]:
dataset['PRES']=dataset['PRES'].fillna(dataset['PRES'].mean())

In [19]:
dataset['DEWP']=dataset['DEWP'].fillna(dataset['DEWP'].mean())

In [20]:
dataset['RAIN']=dataset['RAIN'].fillna(dataset['RAIN'].mean())

In [22]:
dataset['WSPM']=dataset['WSPM'].fillna(dataset['WSPM'].mean())

In [26]:
dataset=dataset.drop(['wd'],axis=1)

In [32]:
dataset=pd.get_dummies(dataset[['No','year','month','day','PM2.5','PM10','SO2','NO2','CO','O3',
                                'TEMP','PRES','DEWP','RAIN','WSPM','station']],drop_first=True)

In [33]:
dataset.isnull().sum()

No       0
year     0
month    0
day      0
PM2.5    0
PM10     0
SO2      0
NO2      0
CO       0
O3       0
TEMP     0
PRES     0
DEWP     0
RAIN     0
WSPM     0
dtype: int64

In [34]:
X=dataset.drop('PM2.5',axis=1)
y=dataset['PM2.5']

In [35]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2, random_state=20)

**a. Linear Regression**

In [36]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
Linear_regressor_model=regressor.fit(X_train,y_train)

In [37]:
Linear_regressor_model.score(X_train,y_train)

0.8426499732820475

In [38]:
Linear_regressor_model.score(X_test,y_test)

0.8499531633397818

**b.	Stochastic Gradient Descent**

In [43]:
y_pred=regressor.predict(X_test)

In [44]:
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(y_true=y_test, y_pred=y_pred, squared=True)
print(MSE)

984.1491048140166

In [45]:
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [46]:
reg=make_pipeline(StandardScaler(), SGDRegressor(max_iter=1000, tol=1e-3, eta0=.05))
reg.fit(X_train,y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdregressor', SGDRegressor(eta0=0.05))])

In [47]:
y_pred_SGD=reg.predict(X_test)
RMSE=mean_squared_error(y_true=y_test, y_pred=y_pred_SGD, squared=False)
print(RMSE)

84.3991829935646

**c.	Ridge Regression**

In [48]:
from sklearn.linear_model import Ridge
Ridge_model=Ridge(alpha=2,max_iter=1000,tol=0.5)
Ridge_model.fit(X_train,y_train)

Ridge(alpha=2, max_iter=1000, tol=0.5)

In [49]:
Ridge_model.score(X_train,y_train)

0.842124127060863

In [50]:
Ridge_model.score(X_test,y_test)

0.8495261145189527

**d.	Lasso Regression**

In [51]:
from sklearn.linear_model import Lasso
Lasso_model=Lasso(alpha=100,max_iter=1000,tol=0.5)
Lasso_model.fit(X_train,y_train)

Lasso(alpha=100, tol=0.5)

In [52]:
Lasso_model.score(X_train,y_train)

0.8199505653134038

In [53]:
Lasso_model.score(X_test,y_test)

0.8254857476459532

**e.	ElasticNet**

In [54]:
from sklearn.linear_model import ElasticNet
ElasticNet_model=ElasticNet(alpha=.01,l1_ratio=0.5)
ElasticNet_model.fit(X_train,y_train)

ElasticNet(alpha=0.01)

In [55]:
ElasticNet_model.score(X_train,y_train)

0.842076572589646

In [56]:
ElasticNet_model.score(X_test,y_test)

0.8494860505035898

**Analyzing Results**

In [57]:
from prettytable import PrettyTable

In [58]:
myTable=PrettyTable(["Model","Training_score","Test_score"])

In [59]:
myTable.add_row(["Linear Regression",Linear_regressor_model.score(X_train,y_train),Linear_regressor_model.score(X_test,y_test)])
myTable.add_row(["Ridge",Ridge_model.score(X_train,y_train),Ridge_model.score(X_test,y_test)])
myTable.add_row(["Lasso",Lasso_model.score(X_train,y_train),Lasso_model.score(X_test,y_test)])
myTable.add_row(["ElasticNet",ElasticNet_model.score(X_train,y_train),ElasticNet_model.score(X_test,y_test)])

In [60]:
print(myTable)

+-------------------+--------------------+--------------------+
|       Model       |   Training_score   |     Test_score     |
+-------------------+--------------------+--------------------+
| Linear Regression | 0.8426499732820475 | 0.8499531633397818 |
|       Ridge       | 0.842124127060863  | 0.8495261145189527 |
|       Lasso       | 0.8199505653134038 | 0.8254857476459532 |
|     ElasticNet    | 0.842076572589646  | 0.8494860505035898 |
+-------------------+--------------------+--------------------+

Based on my findings, the linear regression model was the most accurate, having the highest test score, whereas the lasso model was the least.